@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  font-family: "Roboto", sans-serif;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div,
header,
form {
  border: 0px solid #000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-image: url("images/workingmeeting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 200vh;
}

.container .sub-container {
  background: rgba(255, 199, 199, 0.6);
  min-height: 200vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container .sub-container header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container .sub-container header #title,
.container .sub-container header #description {
  text-align: center;
  font-weight: bold;
}

.container .sub-container header #title {
  margin-top: 60px;
}

.container .sub-container form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.container .sub-container form .form-container {
  width: 60%;
  margin: 0 auto;
  background-color: rgba(209, 92, 92, 0.6);
}

.container .sub-container form .form-container .form-group {
  width: 100%;
}

.container .sub-container form .form-container .form-group label {
  font-size: 1.3rem;
  display: block;
  margin-left: 80px;
  margin-top: 30px;
  font-weight: bolder;
}

.container .sub-container form .form-container .form-group input,
.container .sub-container form .form-container .form-group select {
  width: 80%;
  margin-left: 80px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d15c5c;
}

.container .sub-container form .form-container .form-group input[type="radio"],
.container .sub-container form .form-container .form-group input[type="checkbox"] {
  margin-left: 80px;
  width: 10%;
}

.container .sub-container form .form-container .form-group span {
  font-weight: bolder;
}

.container .sub-container form .form-container .form-group textarea {
  width: 60%;
  padding: 50px;
  margin-left: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  color: grey;
}

.container .sub-container form .form-container .form-group input[type="submit"] {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #d82f2f;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1000px) {
  .container .sub-container form .form-container {
    width: 90%;
  }
  .container .sub-container form .form-container .form-group label,
  .container .sub-container form .form-container .form-group input,
  .container .sub-container form .form-container .form-group select,
  .container .sub-container form .form-container .form-group textarea,
  .container .sub-container form .form-container .form-group input[type="checkbox"],
  .container .sub-container form .form-container .form-group input[type="radio"] {
    margin-left: 30px;
  }
}
/*# sourceMappingURL=index.css.map */